# Electron va React Native ba'zi paketlarni node_modules ildizida kutadi.
# pnpm'ning qat'iy symlink tuzilishi ular bilan to'qnashmasligi uchun:
node-linker=hoisted
shamefully-hoist=true

auto-install-peers=true
strict-peer-dependencies=false
